<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>TODO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" />
</head>

<body>
    <div class="container border">
        <h1 class="my-5">Todo</h1>
        <div class="row">
            <fragment data-module="TaskCounter" data-client-only="true" class="col-12 col-sm-6"></fragment>
            <fragment data-module="AddTodo" class="col-12 col-sm-6"></fragment>
            <fragment data-module="TodoList" data-api="/todoList" class="col-12 col-sm-6"></fragment>
        </div>
    </div>
    <script type="text/javascript" src="/shared/vendors.js"></script>
</body>

</html>